doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

    // TODO implement in wordpress
    meta(property="og:title", content="European Travel Destinations")
    meta(property="og:description", content="Offering tour packages for individuals or groups.")
    meta(property="og:image", content="http://euro-travel-example.com/thumbnail.jpg")
    meta(property="og:url", content="http://euro-travel-example.com/index.htm")
    meta(name="twitter:card", content="summary_large_image")
    meta(property="og:site_name", content="European Travel, Inc.")
    meta(name="twitter:image:alt", content="Alt text for image")

    title
      | npoposse homepage

    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet", href="css/main.css")

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")

  body.home
    header
      nav.navbar.navbar-light.navbar-expand-md
        a.navbar-brand(href="/")
          img(src="images/logo.png", alt="logo")
          .tagline
            | 若者の「働くこと」に関する
            br
            | 様々な問題に取り組むNPO法人
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#main-menu", aria-controls="main-menu", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon

        .collapse.navbar-collapse#main-menu.menu-links
          ul.list.navbar-nav
            li.nav-item.active
              a.nav-link(href="/")
                | ニュース
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="#") POSSEについて
            li.nav-item
              a.nav-link(href="#") 相談窓口
            li.nav-item
              a.nav-link(href="#") お問い合わせ
            li.nav-item
              a.nav-link(href="#") POSSEを支援する
        .btn-group(role="toolbar", aria-label="生活相談, 労働相談")
          a(href="#").counselling.btn.align-middle 労働相談
          a(href="#").consultation.btn.align-middle 生活相談
    .container-fluid


      .activities-top
        section.activities-marquee
          .marquee
            img(src="images/home/about.jpg", alt="activities image")
            .overlay
            .marquee-text
              | 活動内容

        .container.intro
          .row
            .col-md.content
              | NPO法人POSSE（ポッセ）は、誰もが安心して生活し、働くことができる社会を目指して、労働や貧困問題に取り組む団体です。
          .row
            .col-md
              .separator-container
                .separator

        .container.about-org
          .row
            .col-md
              .title
                | POSSEの活動について
              .content
                | POSSEでは、相談へのアドバイス、権利行使のサポートに加え、メディアでの発信などをつうじて、労働・貧困の現場から社会に影響を与えていく活動を行っています。

        .container.activity-content
          .row
            .col-md
              .title
                | 活動内容
          .row
            .col-md
              img.img(src="images/activities/consultation.jpg", alt="consultation")
              .lead
                | 労働・生活相談
              .content
                | POSSEでは、労働問題、生活支援、奨学金の相談を無料で行っています。件数は年間2000件以上を数えます。 電話やメール、面談を通じての法律知識や解決方法のアドバイス・サポートを中心に、労働組合や弁護士、労働基準監督署などの紹介なども行っています。
            .col-md
              img.img(src="images/activities/labour-law.jpg", alt="labour law education")
              .lead
                | 労働法教育
              .content
                | 高校や大学などの学生を主な対象として、労働法について累計100回以上の講義をしています。 労働法の条文の紹介ではなく、ワークショップやロールプレイの実践、実際の労働問題の映像の上映、学生が想定しやすいブラックバイトでの権利行使の練習などの工夫をしています。
            .col-md
              img.img(src="images/activities/magazine.jpg", alt="magazine production")
              .lead
                | 雑誌制作
              .content
                | 年4回発行の季刊誌として、雇用問題総合誌『POSSE』を発行してきました。労働・貧困問題の実態を伝えるルポ・調査や、政策提言や背景分析を論じる研究者の論文・インタビュー・座談会など、多彩なテキストを掲載しています。2008年の創刊以来、朝日新聞の論壇時評で30回以上紹介されるなど、NPO発行の雑誌でありながら、雇用・貧困論壇で注目され続けています。
  
        section.awards
          .container
            .row
              .col-md
                .title
                  | 受賞歴
                  
                table
                  tr
                    th
                      | 2013年
                    td
                      | ユーキャン新語・流行語大賞トップテン：POSSE代表・今野晴貴が「ブラック企業」で受賞
                  tr
                    th
                      | 2013年
                    td
                      | 大佛次郎論壇賞：POSSE代表・今野晴貴が『ブラック企業　日本を食いつぶす妖怪』（2012年、文春新書）で受賞
                  tr
                    th
                      | 2013年
                    td
                      | 仙台市において実施したPOSSEの被災者送迎事業に対して、厚生労働大臣から感謝状を受領
              
        section.history
          .container
            .row
              .col-md
                .title
                  | 沿革
                .content
                  p
                    | 2000年代後半、若者の格差・貧困問題が注目され、特に「非正規雇用」の問題がクローズアップされました。
                  p
                    | POSSEは、その最中である2006年に、当時大学生だった今野晴貴らによって結成され、労働相談や街頭調査などを通じて、これらの問題に取り組んできました。
                  p
                    | それから10年が経ち、雇用の劣化はますます拡大しています。
                  p
                    | 非正規雇用に限らず、正社員であっても、低賃金・長時間労働が「普通」のことになり、誰もが貧困や過労死と隣り合わせの時代になっています。
                  p
                    | 私たちは、このことを早くから「ブラック企業」問題として位置付け、活動をつうじて社会問題化してきました。
                  p
                    | これまで1万件を超える相談の解決支援や、労働・貧困の実態の啓発、求められる政策の提言を続けています。
                  p
                    | 2014年にはPOSSEのスタッフが中心となり、個人加盟の労働組合・総合サポートユニオンが設立されています。
                  p
                    | 同ユニオンでは、2014年の「たかの友梨ビューティクリニック」事件をはじめ、POSSEと連携して事件解決に取り組んでいます。
                  p
                    | 現在では、エステ・ユニオン、介護・保育ユニオン、ブラックバイトユニオン、ブラック企業ユニオンなどの業種別・課題別の支部がつくられています。
            .row
              .col-md
                .separator-container
                  .separator

        section.about-consultation
          .container
            .row
              .col-md
                .title
                  | 労働・生活相談について
                .content
                  p
                    | POSSEでは労働・生活に関する相談を無料で受け付けております。
                  p
                    | POSSEでは、みなさんからの相談を無料で受け付けています。「労働」「生活」「奨学金」についての相談が主となっています。
                  p
                    | ご相談の連絡をいただくと、担当のスタッフが相談の問題点を整理して、解決の方向性や、場合によっては専門家・団体をアドバイスします。弁護士や労働組合などを活用される際は、相談者からそれらの専門家・団体に対して、着手金・成功報酬・入会費・組合費などの支払いが一般的に発生しますが、POSSEに対する費用の支払いはありません。POSSEはNPOとしての会費・寄付・各種助成金による収入や、ボランティアに支えられて活動を運営しているため、無料での相談対応となっています。
                  p
                    | POSSEに寄せられた相談から、労働基準監督署の行政指導、裁判所での民事訴訟、労働組合での団体交渉をつうじて解決に結びついた事例は、テレビ・新聞・雑誌などでも多数取り上げられています。事件解決までの概要は、「
                    a(href="#")
                      | 解決事例
                    | 」をご参照ください。
            .row
              .col-md
                .separator-container
                  .separator

        section.staff
          .container
            .row
              .col-md
                .title
                  | スタッフ
                .content
                  | POSSEの主要スタッフをご紹介いたします。
            .row
              .col-md
                .profile
                  img.img(src="images/activities/konno.jpg", alt="konno-san")
                  .role-title
                    | NPO法人POSSE代表
                  .name
                    | 今野晴貴
                  .bio.content
                    p
                      | 著書に『ブラック企業』（文春新書）、『ブラックバイト』（岩波新書）など多数。2013年度大佛次郎
                    p
                      | 論壇賞、流行語大賞トップ10を受賞。

              .col-md
                .profile
                  img.img(src="images/activities/sakakura.jpg", alt="sakakura-san")
                  .role-title
                    | NPO法人POSSE理事 / 雑誌『POSSE』前編集長 / ブラック企業ユニオン・裁量労働制ユニオン代表
                  .name
                    | 坂倉昇平
                  .bio.content
                    p
                      | 共著に『ベーシックインカムは究極の社会保障か』（堀之内出版）、『18歳からの民主主義』（岩波新書）など。

              .col-md
                .profile
                  img.img(src="images/activities/watanabe.jpg", alt="watanabe-san")
                  .role-title
                    | NPO法人POSSE事務局長/雑誌『POSSE』編集長
                  .name
                    | 渡辺寛人
                  .bio.content
                    p
                      | 社会福祉士。共著に『断絶の都市センダイ』（朝日新聞出版）

              .col-md
                .profile
                  img.img(src="images/activities/miura.jpg", alt="miura-san")
                  .role-title
                    | NPO法人POSSE相談スタッフ
                  .name
                    | 三浦かおり 
                  .bio.content

      section.contact-cta
        .container
          .row
            .col-md
              .centre-text
                .title
                  | お気軽にご相談ください
                .content
                  | 相談無料  /  秘密厳守  /  メール・電話OK
          .row
            .col-md-4
              .panel
                a.btn.btn-primary(href="#")
                  img.icon(src="images/counselling/envelope-icn.png", alt="envelope icon")
                  | 相談フォームに進む
                .note-text 
                  | ※勤務先のＰＣからのご連絡はお控えください。相談員からの返信や通信履歴等から、労働相談をしたことや相談内容が勤務先へ漏れる可能性があります。
            .col-md-8
              .panel
                .centre-text
                  .hours
                    | 平日17:00-22:00 / 土日祝12:00-22:00 火曜定休
                  .phone-no
                    | 03-6699-9359
                  .phone-sub
                    .content 
                      | 東北地方にお住まいの方はこちら 
                    .number
                      | 022-302-3349
                ul
                  li 
                    | 現在、相談の増加により、電話がつながりにくくなっております。 　電話がつながらなかった場合は、お手数ですが、留守番電話へメッセージを残していただくか、メール相談フォームにて相談をお送りください。
                  li 
                    | 留守番電話の場合は、①労働相談をご希望であることと、②端的なご相談内容を残していただきましたら、順次折り返しご連絡をさせていただきます。
                .note-text 
                  | ※勤務先の固定電話、業務用の携帯電話からのご連絡はお控えください。相談員からの折り返しの電話連絡や通信履歴等から、労働相談をしたことが勤務先へ漏れる可能性があります。
          .row
            .col-md.bottom-notes
              .note-text
                | ※来所相談をご希望の方は、相談スタッフが相談等で事務所に不在の場合もございますので、必ず事前にメールまたは電話にてご連絡をお願いいたします。
              .note-text
                | ※ご相談内容は、個人が特定されない形で調査等に利用する場合がございますので、ご了承ください。




      .support.centre-text
        .title 
          | POSSEの活動を
          br.d-xs-block.d-md-none
          | 支援しませんか
        .content 
          | ご寄付や会員登録、ボランティアを募集しています。
          br
          | 多くの若者の働き方や生活を改善するために、
          br.d-xs-block.d-md-none
          | ぜひご協力ください。
        .container
          .buttons.row
            .col-md
              a(href="#").green.btn.btn-primary 募金で支援する
            .col-md
              a(href="#").green.btn.btn-primary 会員活動で支援する
            .col-md
              a(href="#").green.btn.btn-primary.window ボランティアに参加する
      .bg-wrapper
        .container
          .banners.row
            a(href="#").col-md
              img(src="images/posse_bnr.png", alt="posse magazine").img.banner
            a(href="#").col-md
              img(src="images/shigoto_bnr.png", alt="work report").img.banner
        .container.contact
          .row
            .contact-info.col-md-4
              .logo
                img(src="images/logo.png", alt="npo posse logo").img
              .address
                span.company-number 06-0000-0000
                | 〒155-0031
                br
                | 東京都世田谷区北沢4-17-15
                br
                | ローゼンハイム下北沢201
            footer.menu-links.col-md-8
              .container
                .row
                  ul.col-md
                    li 
                      a(href="#") TOP
                    li
                      a(href="#") ニュース
                    li
                      a(href="#") POSSEについて
                    li
                      ul.sub-menu
                        li
                          a(href="#") 活動内容
                        li
                          a(href="#") 解決事例
                        li
                          a(href="#") 相談の流れ・よくある質問
                  ul.col-md
                    li
                      a(href="#") 相談窓口
                    li
                      ul.sub-menu
                        li
                          a(href="#") 労働相談
                        li
                          a(href="#") 生活相談
                    li
                      a(href="#") お問い合わせ
                    li
                      a(href="#") POSSEを支援する
                    li
                      ul.sub-menu
                        li
                          a(href="#") 募金で支援する
                        li
                          a(href="#") 会員活動で支援する
                        li
                          a(href="#") ボランティアに参加する
                  ul.col-md
                    li
                      a(href="#") その他
                    li
                      ul.sub-menu
                        li
                          a(href="#") 取材・講演依頼について
                        li
                          a(href="#") 組織図・賛同人
                        li
                          a(href="#") メディア報道
                        li
                          a(href="#") 雑誌POSSE
                    li
                      a(href="#") 関連リンク
                    li
                      ul.sub-menu
                        li
                          a(href="#").window-icon 就職活動のための法律ガイド
                        li
                          a(href="#").window-icon NPO法人POSSE解雇リストラ相談センター
                        li
                          a(href="#").window-icon NPO法人POSSE奨学金Navi
                        li
                          a(href="#").window-icon 残業代請求サポートセンター
        .centre-text
          .copyright 
            | ©Posse
            br
            | PosseはNPO法人です。特定の宗教・政党との関係はありません。

