doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

    // TODO implement in wordpress
    meta(property="og:title", content="European Travel Destinations")
    meta(property="og:description", content="Offering tour packages for individuals or groups.")
    meta(property="og:image", content="http://euro-travel-example.com/thumbnail.jpg")
    meta(property="og:url", content="http://euro-travel-example.com/index.htm")
    meta(name="twitter:card", content="summary_large_image")
    meta(property="og:site_name", content="European Travel, Inc.")
    meta(name="twitter:image:alt", content="Alt text for image")

    title
      | npoposse homepage

    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet", href="css/main.css")

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")

  body.home
    header
      nav.navbar.navbar-light.navbar-expand-md
        a.navbar-brand(href="/")
          img(src="images/counselling/logo.png", alt="logo")
          .tagline
            | 若者の「働くこと」に関する
            br
            | 様々な問題に取り組むNPO法人
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#main-menu", aria-controls="main-menu", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon

        .collapse.navbar-collapse#main-menu.menu-links
          ul.list.navbar-nav
            li.nav-item.active
              a.nav-link(href="/")
                | ニュース
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="#") POSSEについて
            li.nav-item
              a.nav-link(href="#") 相談窓口
            li.nav-item
              a.nav-link(href="#") お問い合わせ
            li.nav-item
              a.nav-link(href="#") POSSEを支援する
        .btn-group(role="toolbar", aria-label="生活相談, 労働相談")
          a(href="#").counselling.btn.align-middle 労働相談
          a(href="#").consultation.btn.align-middle 生活相談
    .container-fluid

      .counselling-top
        .row.counselling
          .col-md
            .centre-text
              .main
                | 労働相談
          .marquee
            picture
              source(srcset="images/counselling/counselling-marquee-sm.jpg", media="(max-width: 768px)")
              source(srcset="images/counselling/counselling-marquee.jpg", media="(min: 769px)")
              img(src="images/counselling/counselling-marquee.jpg", alt="marquee image")


        section.opener
          .container
            .row
              .col-md
                .centre-text
                  .lead
                    | 労働トラブルについて
                    br
                    | NPO法人POSSEでは
                    br
                    | 相談を無料で受け付けています。 
                  .lead-text
                    p
                      | 残業代が支払われない | 有給休暇がとれない | 休みがとれない
                    p
                      | セクハラ、パワハラ、嫌がらせをされた | 仕事をやめさせられそうになっている | 仕事をやめさせてもらえない
                    p
                      | そのほか、どんなことでも構いません。
                    p
                      | ひとりで悩む前に、ぜひためしに一度、お気軽にご連絡ください。
                a.green.btn.btn-primary(href="#")
                  | 相談フォームに進む

        section.solutions
          .container
            .row.head
              .col-md
                .centre-text
                  .lead
                    | 解決のためにPOSSEができること
                .separator
            .row
              .col-md
                .centre-text
                  .icon.circle-icon
                    img.img(src="images/counselling/advice.png", alt="book icon")
                  .lead
                    | 法律の知識、
                    br
                    | 解決法のアドバイス
                .container
                  .row
                    .col-md
                      .content 
                        | ご連絡いただいた内容を元に、相談内容に応じた法律の知識や、解決の仕方をアドバイスいたします。
              .col-md
                .centre-text
                  .icon.circle-icon
                    img.img(src="images/counselling/support.png", alt="raised hands icon")
                  .lead
                    | 解決のための
                    br
                    | 具体的なサポート
                .container
                  .row
                    .col-md
                      .content 
                        | 職場がなかなか適切な対応をとらないケースや、あまりに悪質なケースは、NPO法人POSSEのスタッフが解決のための具体的なサポートをいたします。
              .col-md
                .centre-text
                  .icon.circle-icon
                    img.img(src="images/counselling/help.png", alt="smart lady icon")
                  .lead
                    | 専門家の紹介
                .container
                  .row
                    .col-md
                      .content 
                        | 問題に応じて、ユニオン（労働組合）や弁護士などの専門家を紹介することもあります。
                    
        section.experts
          .container
            .row
              .col-md
                .centre-text
                  .lead
                    | 相談の流れ
            .row
              .col-md
                .centre-text
                  picture
                    source(srcset="images/counselling/flow-vertical.png", media="(max-width: 768px)")
                    source(srcset="images/counselling/flow-horizontal.png", media="(min-width: 769px)")
                    img(src="images/counselling/flow-horizontal.png", alt="flowchart")
            .row
              .col-md
                .centre-text
                  .bottom-link
                    a.link.link-caret(href="#", alt="")
                      | 相談の流れについてもっと詳しく

        section.characteristics
          .container
            .row
              .col-md
                .centre-text
                  .title
                    | POSSEの特徴
                .separator
            .row
              .col-md.panel
                img.img(src="images/counselling/characteristics1.png", alt="characteristics")
                .detail
                  .lead
                    span
                      | POSSEの特徴
                    | を伝えられるようなテキストを入れたいです。
                  .content
                    | POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。労働や生活に関する相談を無料で受け付けています。POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。
              .col-md.panel
                img.img(src="images/counselling/characteristics1.png", alt="characteristics")
                .detail
                  .lead
                    span
                      | POSSEの特徴
                    | を伝えられるようなテキストを入れたいです。
                  .content
                    | POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。労働や生活に関する相談を無料で受け付けています。POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。
              .col-md.panel
                img.img(src="images/counselling/characteristics1.png", alt="characteristics")
                .detail
                  .lead
                    span
                      | POSSEの特徴
                    | を伝えられるようなテキストを入れたいです。
                  .content
                    | POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。労働や生活に関する相談を無料で受け付けています。POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。

        section.contact-cta
          .container
            .row
              .col-md
                .centre-text
                  .title
                    | お気軽にご相談ください
                  .content
                    | 相談無料  /  秘密厳守  /  メール・電話OK
            .row
              .col-md-4
                .panel
                  a.btn.btn-primary(href="#")
                    img.icon(src="images/counselling/envelope-icn.png", alt="envelope icon")
                    | 相談フォームに進む
                  .note-text 
                    | ※勤務先のＰＣからのご連絡はお控えください。相談員からの返信や通信履歴等から、労働相談をしたことや相談内容が勤務先へ漏れる可能性があります。
              .col-md-8
                .panel
                  .centre-text
                    .hours
                      | 平日17:00-22:00 / 土日祝12:00-22:00 火曜定休
                    .phone-no
                      | 03-6699-9359
                    .phone-sub
                      .content 
                        | 東北地方にお住まいの方はこちら 
                      .number
                        | 022-302-3349
                  ul
                    li 
                      | 現在、相談の増加により、電話がつながりにくくなっております。 　電話がつながらなかった場合は、お手数ですが、留守番電話へメッセージを残していただくか、メール相談フォームにて相談をお送りください。
                    li 
                      | 留守番電話の場合は、①労働相談をご希望であることと、②端的なご相談内容を残していただきましたら、順次折り返しご連絡をさせていただきます。
                  .note-text 
                    | ※勤務先の固定電話、業務用の携帯電話からのご連絡はお控えください。相談員からの折り返しの電話連絡や通信履歴等から、労働相談をしたことが勤務先へ漏れる可能性があります。
            .row
              .col-md.bottom-notes
                .note-text
                  | ※来所相談をご希望の方は、相談スタッフが相談等で事務所に不在の場合もございますので、必ず事前にメールまたは電話にてご連絡をお願いいたします。
                .note-text
                  | ※ご相談内容は、個人が特定されない形で調査等に利用する場合がございますので、ご了承ください。

        section.about
          .container.links
            .row
              .col-md
                .centre-text
                  .title
                    | NPO法人
                    br
                    | POSSEについて
                .separator


            .row
              .links-container.col-md
                .centre-text
                  .icon.circle-icon
                    img.img(src="images/icon-activity.png", alt="icon activity content")
                  a(href="#").link.link-caret 活動内容
                .content POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。労働や生活に関する相談を無料で受け付けています。
              .links-container.col-md
                .centre-text
                  .icon.circle-icon
                    img.icon-resolution.img(src="images/icon-resolution.png", alt="icon case resolution")
                  a(href="#").link.link-caret 解決事例
                .content POSSEには年間2000件以上の労働・生活相談が寄せらています。解決事例の一部をご紹介します。
              .links-container.col-md
                .centre-text
                  .icon.circle-icon
                    img.icon-qa.img(src="images/icon-qa.png", alt="icon question and answer")
                  a(href="#").link.link-caret 相談の流れ・よくある質問
                .content 相談の流れとよくある質問についてご紹介します。

            





      .support.centre-text
        .title 
          | POSSEの活動を
          br.d-xs-block.d-md-none
          | 支援しませんか
        .content 
          | ご寄付や会員登録、ボランティアを募集しています。
          br
          | 多くの若者の働き方や生活を改善するために、
          br.d-xs-block.d-md-none
          | ぜひご協力ください。
        .container
          .buttons.row
            .col-md
              a(href="#").btn.btn-primary 募金で支援する
            .col-md
              a(href="#").btn.btn-primary 会員活動で支援する
            .col-md
              a(href="#").btn.btn-primary.window ボランティアに参加する
      .bg-wrapper
        .container
          .banners.row
            a(href="#").col-md
              img(src="images/counselling/posse_bnr.png", alt="posse magazine").img.banner
            a(href="#").col-md
              img(src="images/counselling/shigoto_bnr.png", alt="work report").img.banner
        .container.contact
          .row
            .contact-info.col-md-4
              .icon.circle-icon
                img(src="images/logo.png", alt="npo posse logo").img
              .address
                span.company-number 06-0000-0000
                | 〒155-0031
                br
                | 東京都世田谷区北沢4-17-15
                br
                | ローゼンハイム下北沢201
            footer.menu-links.col-md-8
              .container
                .row
                  ul.col-md
                    li 
                      a(href="#") TOP
                    li
                      a(href="#") ニュース
                    li
                      a(href="#") POSSEについて
                    li
                      ul.sub-menu
                        li
                          a(href="#") 活動内容
                        li
                          a(href="#") 解決事例
                        li
                          a(href="#") 相談の流れ・よくある質問
                  ul.col-md
                    li
                      a(href="#") 相談窓口
                    li
                      ul.sub-menu
                        li
                          a(href="#") 労働相談
                        li
                          a(href="#") 生活相談
                    li
                      a(href="#") お問い合わせ
                    li
                      a(href="#") POSSEを支援する
                    li
                      ul.sub-menu
                        li
                          a(href="#") 募金で支援する
                        li
                          a(href="#") 会員活動で支援する
                        li
                          a(href="#") ボランティアに参加する
                  ul.col-md
                    li
                      a(href="#") その他
                    li
                      ul.sub-menu
                        li
                          a(href="#") 取材・講演依頼について
                        li
                          a(href="#") 組織図・賛同人
                        li
                          a(href="#") メディア報道
                        li
                          a(href="#") 雑誌POSSE
                    li
                      a(href="#") 関連リンク
                    li
                      ul.sub-menu
                        li
                          a(href="#").window-icon 就職活動のための法律ガイド
                        li
                          a(href="#").window-icon NPO法人POSSE解雇リストラ相談センター
                        li
                          a(href="#").window-icon NPO法人POSSE奨学金Navi
                        li
                          a(href="#").window-icon 残業代請求サポートセンター
        .centre-text
          .copyright 
            | ©Posse
            br
            | PosseはNPO法人です。特定の宗教・政党との関係はありません。
