doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

    // TODO implement in wordpress
    meta(property="og:title", content="European Travel Destinations")
    meta(property="og:description", content="Offering tour packages for individuals or groups.")
    meta(property="og:image", content="http://euro-travel-example.com/thumbnail.jpg")
    meta(property="og:url", content="http://euro-travel-example.com/index.htm")
    meta(name="twitter:card", content="summary_large_image")
    meta(property="og:site_name", content="European Travel, Inc.")
    meta(name="twitter:image:alt", content="Alt text for image")

    title
      | npoposse homepage

    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet", href="css/main.css")

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")

  body.home
    header
      nav.navbar.navbar-light.navbar-expand-md
        a.navbar-brand(href="/")
          img(src="images/logo.png", alt="logo")
          .tagline
            | 若者の「働くこと」に関する
            br
            | 様々な問題に取り組むNPO法人
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#main-menu", aria-controls="main-menu", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon

        .collapse.navbar-collapse#main-menu.menu-links
          ul.list.navbar-nav
            li.nav-item.active
              a.nav-link(href="/")
                | ニュース
                span.sr-only (current)
            li.nav-item
              a.nav-link(href="#") POSSEについて
            li.nav-item
              a.nav-link(href="#") 相談窓口
            li.nav-item
              a.nav-link(href="#") お問い合わせ
            li.nav-item
              a.nav-link(href="#") POSSEを支援する
        .btn-group(role="toolbar", aria-label="生活相談, 労働相談")
          a(href="#").counselling.btn.align-middle 労働相談
          a(href="#").consultation.btn.align-middle 生活相談

    .container-fluid
      section.marquee
        img.img-fluid(src="images/top-main.png", alt="top main photo")
        .centre-text
          .main 普通に働ける社会へ
          .tagline POSSEは若者の「働くこと」に関する 
          .tagline 様々な問題に取り組むNPO法人です
      .lead-bar
      section.contact.centre-text
        .title お気軽にご相談ください
        .options 相談無料  /  秘密厳守  /  電話・メールOK
      .dovetail-container
        .dovetail
      .row
        section.core-function.counselling.col-md
          .centre-text 
            .main 労働相談
          .details
            img(src="images/counselling.png", alt="counselling icon")
            ul
              li 
                span 残業代が払われない 
              li 
                span パワハラ、嫌がらせ 
              li 
                span 雇用を打ち切られた
            a(href="#").btn.btn-primary 労働について相談したい
        section.core-function.consultation.col-md
          .centre-text 
            .main 生活相談
          .details
            img(src="images/consultation.png", alt="counselling icon")
            ul
              li 
                span 金銭的に生活が苦しい
              li 
                span 奨学金が返せない
              li 
                span 生活保護を受けたい
            a(href="#").btn.btn-primary 生活について相談したい
      section.about
        .main POSSE について
        .body
          | すべての人生はかけがえのないもの。
          br
          | そして、すべての人生はもっと輝くことが できると思う。 
          br
          | だから私たちは⽣み出したい。
          br
          | 探し求めている情報との
          strong 出会い
          | を。
          br
          | 感動を共にできる仲間との
          strong つながり
          | を。
          br
          | 毎日を豊かにする
          strong アイデア
          | を。
      section.links
        .links-container
          .centre-text
            .circle-icon
              img.img(src="images/icon-activity.png", alt="icon activity content")
            a(href="#").link 活動内容
          .content POSSE（ポッセ）は若者の労働・貧困問題に取り組むNPO法人です。労働や生活に関する相談を無料で受け付けています。
        .links-container
          .centre-text
            .circle-icon
              img.icon-resolution.img(src="images/icon-resolution.png", alt="icon case resolution")
            a(href="#").link 解決事例
          .content POSSEには年間2000件以上の労働・生活相談が寄せらています。解決事例の一部をご紹介します。
        .links-container
          .centre-text
            .circle-icon
              img.icon-qa.img(src="images/icon-qa.png", alt="icon question and answer")
            a(href="#").link 相談の流れ・よくある質問
          .content 相談の流れとよくある質問についてご紹介します。
      .latest
        .centre-text 
          .title 最新情報
        .separator
        .news
          .lead
            span.date 2018.6.9
            span.headline メディア掲載
          .content 週刊読書人ウェブ 栗原耕平(エキタス)+今野晴貴(POSSE)+雨宮処凜(反貧困ネットワーク世話人)=鼎談　＃最賃１５００円に
        .news
          .lead
            span.date 2018.6.11
            span.headline イベント
          .content 6月27日（水）学生向けシンポジウム「過労死社会を変えるために」を開催します。
        .news
          .lead
            span.date 2018.6.20 
            span.headline お知らせ
          .content 『生活相談Q&A』ページを開設しました。
        .btn-container
          a(href="#").btn.btn-primary 詳しく見る
      .support.centre-text
        .title 
          | POSSEの活動を
          br
          | 支援しませんか
        .content 
          | ご寄付や会員登録、ボランティアを募集しています。
          br
          | 多くの若者の働き方や生活を改善するために、
          br
          | ぜひご協力ください。
        .buttons
          a(href="#").btn.btn-primary 募金で支援する
          a(href="#").btn.btn-primary 会員活動で支援する
          a(href="#").btn.btn-primary.window ボランティアに参加する
      .banners
        a(href="#")
          img(src="images/posse_bnr.png", alt="posse magazine").img.banner
        a(href="#")
          img(src="images/shigoto_bnr.png", alt="work report").img.banner
        .logo
          img(src="images/logo.png", alt="npo posse logo").img
        .address
          span.company-number 06-0000-0000
          | 〒155-0031
          br
          | 東京都世田谷区北沢4-17-15
          br
          | ローゼンハイム下北沢201
      footer.menu-links
        ul
          a(href="#") 
            li TOP
          a(href="#") 
            li ニュース
          a(href="#") 
            li POSSEについて
          a(href="#") 
            li 相談窓口
          a(href="#") 
            li お問い合わせ
          a(href="#") 
            li POSSEを支援する
          a(href="#") 
            li その他
          a(href="#") 
            li 関連リンク
        .centre-text
          .copyright 
            | ©Posse
            br
            | PosseはNPO法人です。特定の宗教・政党との関係はありません。
