@import './vars';

html {
  font-family: $base-font-family;
}

.home {
  letter-spacing: 2px;
  font-weight: 500;
}

.btn.btn-primary {
  margin: 10px auto;
  width: 100%;
  border-radius: 20px;
  height: 2.6rem;
  line-height: 1.9rem;
  font-size: 0.8rem;
  border-color: $white;
      
  &::after {
    content: '>';
    margin-left: 12px;
    font-weight: 800;
  }
}

@mixin window-link-icon {
    content: '';
    background: url(/images/window.png) no-repeat center center;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: 12px;
    vertical-align: baseline;
}

.btn.btn-primary.window {
  &::after {
    @include window-link-icon;
  }
}

.navbar {
  padding: 4px;

  .btn-group {
    width: 100%;
    .btn {
      padding: 0.6rem .75rem;
      border-radius: 0;
      color: $white;
    }
  }

  .counselling {
    background-color: $theme-green;
  }
  .consultation {
    background-color: $theme-light-green;
  }
}

.navbar-brand {
  max-width: 70%;
  margin: 4px 0;

  img {
    width: 116px;
    vertical-align: baseline;
    margin-right: 6px;
    margin-left: 3px;
  }
  .tagline {
    font-size: 0.6rem;
    line-height: 0.7rem;
    display: inline-block;
    color: $theme-grey;
  }
}

.navbar-toggler-icon {
  color: $theme-green;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  padding: 0 0 5px 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(47, 163, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.home {
  .container-fluid {
    padding: 0;
  }
}

.marquee {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  &> div {
    position: absolute;
    top: 40%;
    color: white;
    text-shadow: 0px 0px 16px #aaa;
    width: 100%;
    font-size: 2rem;

    .main {
      font-size: 7vw;
    }
    .tagline {
      width: 80%;
      font-size: 1.7vw;
      font-weight: 400;
      text-shadow: 0px 0px 16px #999;

      br {
        display: none;
      }
    }
  }
}

.centre-text > div, .centre-text a {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.lead-bar {
  background-color: $theme-green;
  width: 2px;
  height: 30px;
  position: relative;
  top: -15px;
  margin: 0 auto -15px auto;
}

.contact-us {
  margin-bottom: 40px;

  .title {
    margin-top: 10px;
    font-weight: 600;
  }
  .options {
    margin-top: 7px;
    color: $theme-green;
    font-size: 0.8rem;
  }
}

.dovetail-container {
  position: relative;
  z-index: 1;
}

.dovetail {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-top: 20px solid $white;
  margin: 0 auto -20px auto;
}

.core-function {
  color: $white;
  padding: 50px 0;

  .main {
    margin-bottom: 5px;
    font-size: 2rem;
  }

  .details {
    margin: 0 auto;
    width: 70%;
    max-width: 260px;

    img {
      display: inline-block;
      vertical-align: text-bottom;
      width: 55px;
    }
    ul {
      display: inline-block;
      font-size: 0.8rem;
      line-height: 1.4rem;
      padding-inline-start: 20px;
      list-style: none;

      li {
        font-size: 2.6em;
        line-height: 1rem;
        font-weight: 400;

        &::before {
          content: '•';
          color: $bullet-colour;
          vertical-align: middle;
        }
      }
      span {
        font-size: 0.8rem;
      }
    }
    .btn.btn-primary {
      background-color: $white;
      color: $theme-green;
    }
  }
}

.counselling {
  background-color: $theme-green;
}

.consultation {
  background-color: $theme-light-green;
}

.about {
  font-weight: 600;
  background: url("/images/about.png") center bottom no-repeat;
  background-size: contain;
  padding: 40px 0 70vw 0;

  .main {
    font-size: 2.1rem;
    padding: 0 20px;
  }
  .body {
    padding: 0 20px;
    line-height: 2.5rem;
    margin-bottom: 80px;

    strong {
      color: $theme-green;
      font-weight: inherit;
    }
  }
}

.links {
  .links-container {
    background-color: $theme-light-grey;
    margin: 20px 20px 0 20px;
    padding: 35px 0;
  }

  .img {
    &.icon-resolution, &.icon-qa {
      width: 49px;
      top: 33px;
      left: 27px;
    }
  }

  .circle-icon {
    background-color: $white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;

    img {
      width: 37px;
      position: absolute;
      top: 27px;
      left: 32px;
    }
  }

  .centre-text {
    .link {
      font-size: 1.3rem;
      font-weight: 600;
      margin-top: 20px;
      color: $black;
      display: block;

      &::after {
        font-size: 0.8rem;
        position: relative;
        top: -3px;
        color: $theme-grey;
        content: '>';
        margin-left: 12px;
        font-weight: 800;
      }
    }
  }

  .content {
    color: $theme-grey;
    font-size: 0.8rem;
    line-height: 1.5rem;
    width: 80%;
    margin: 15px auto 0 auto;
    font-weight: 400;
  }
}

.latest {
  .title {
    font-size: 2rem;
    width: 50%;
    margin-top: 70px;
  }

  .separator {
    background-color: $theme-green;
    margin: 40px auto 60px auto;
    display: block;
    height: 4px;
    width: 82px;
    position: relative;
  }
  .news {
    margin: 25px 12px 12px 12px;
  }
  .date {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .headline {
    background-color: $theme-light-grey;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 4px 20px;
    margin-left: 12px;
  }
  .content {
    color: $theme-grey;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: normal;
    margin-top: 9px;
    line-height: 1.8rem;
  }
  .btn.btn-primary {
    background-color: $theme-light-grey;
    color: $black;
    &::after {
      color: $theme-grey;
    }
  }
  .btn-container {
    margin: 0 10px 110px 10px;
    padding-top: 15px;
  }
}

.support {
  background: url('/images/support-bg.png')  no-repeat top center; 
  background-size: cover;
  color: $white;

  .title {
    padding-top: 40px;
    font-size: 1.6rem;
  }

  .content {
    margin-top: 15px;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  
  .buttons {
    margin-top: 13px;
    padding-bottom: 50px;
  }
  
  .btn.btn-primary {
    background-color: $theme-green;
    color: $white;
    border-width: 0px;
  }
}

.banners {
  background-color: $theme-light-grey;
  padding: 20px 0 40px 0;
  
  .banner {
    margin-bottom: 20px;
    width: 100%;
  }
}

.contact-info {
  background-color: $theme-light-grey;
  padding-bottom: 40px;

  .logo {
    img {
      width: 116px;
    }
  }

  .address {
    font-size: 0.8rem;
    line-height: 1.5rem;

    .company-number {
      margin: 20px 0;
      display: block;
    }
  }
}

.bg-wrapper {
  background-color: #f2f5f4;
}

.menu-links {
  background-color: $theme-light-grey;
  padding: 0;

  .navbar-nav .nav-link {
    padding-left: 15px;
  }

  &#main-menu .navbar-nav .nav-link {
    color: $black;
  }

  a {
    color: $black;
  }

  ul {
    list-style: none;
    padding-inline-start: unset;
    font-size: 1.1rem;
    margin-bottom: 0;

    a {
      display: inline-block;
      width: 100%;
      padding: 20px;
      margin-bottom: 1px;
      background-color: $white;
    }
  }

  .sub-menu {
    a {
      background-color: $theme-light-grey;
      border: 1px solid #fff;
      border-width: 0 0 1px 0;
      color: $theme-grey;
      font-weight: 300;
      font-size: 1rem;
    }
    .window-icon::after {
      @include window-link-icon;
      margin-left: 12px;
    }
  }

  .col-md {
    padding: 0;
  }
}

.centre-text .copyright {
  width: 100%;
}

.copyright {
  background-color: white;
  padding: 10px 20px;
  font-size: 0.6rem;
  color: $theme-grey;
  font-weight: 300;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home {
    letter-spacing: 1px;
  }

  .lead-bar {
    width: 4px;
    height: 53px;
    top: -21px;
  }

  .contact-us {
    margin: 25px 0 60px;

    .title {
      font-weight: 500;
      font-size: 1.6rem;
    }

    .options {
      font-size: 1rem;
    }
  }

  .navbar {
    height: 80px;
    padding: 0 0 0 10px;

    .navbar-brand {
      flex: 1;

      img {
        margin-right: 0px;
      }
      .tagline {
        font-size: 0.6rem;
      }
    }

    .navbar-nav {
        font-size: 0.7rem;
    }

    #main-menu {
      flex: 4;
      margin: 0 2vw;
      width: 100%;
      background-color: $white;

      .navbar-nav .nav-link {
        color: $theme-grey;
      }

      .list {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        flex: 1;
        max-width: 500px;
      }

      a {
        padding: 0;
      }
    }

    .btn-group {
      flex: 1;
      height: 100%;

      .btn {
        width: 50%;
        font-size: 0.7rem;
        text-align: center;
        line-height: 80px;
        padding: 0;
      }
    }
  }

  .about {
    background: url("/images/about-md.png") center top no-repeat;
    background-size: cover;
    padding: 50px 0;
    
    .body {
      margin: 0;
    }
  }

  .links {
    margin: 0 auto;

    .row {
      margin: 20px;
    }

    .links-container {
      margin: 0;
    }

    .links-container + .links-container {
      margin-left: 20px;
    }
  }
  
  .latest {
    margin: 0 auto;
    .btn {
      width: 300px;
      display: block;
    }
  }

  .news {
    display:flex;

    .date {
      flex: 1;
    }

    .headline {
      flex: 1;
      flex-basis: 7%;
      padding: 0 4px;
      height: 1%;
      text-align: center;
    }

    .content {
      flex: 8;
      margin-left: 20px;
      margin-top: -3px;
    }
  }

  .support {
    padding: 80px 0 40px 0;

    .title {
      font-size: 2rem;
    }
    .buttons {
      .btn + .btn {
        margin-left: 20px;
      }
    }
  }

  .banners {
    padding: 40px 0;
  }

  .contact-info {
    .logo {
      margin-top: 0;
    }
  }
  
  .menu-links {
    ul {
      font-size: 0.8rem;

      a {
        background-color: inherit;
        padding: 0;
      }
    }

    .sub-menu {
      margin-bottom: 45px;
      
      a {
        border: 0;
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }

  footer.menu-links {
    li {
      margin-bottom: 8px;
    }
  }
}
