@import './vars';

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
h3 {
  font-size: 1.9rem;
  font-weight: 600;
}
h4 {
  font-size: 1.4rem;
}

p, tr {
  font-size: 0.9rem;
  font-weight: 400;
}

th, td {
  border: 1px solid $separator-grey;
  padding: 20px;
}

th {
  background: $theme-light-grey;
}

a {
  color: $theme-green;
}

blockquote {
  padding-left: 50px;
  border-left: 5px solid $theme-grey;
}

.wp-block-image {
  figure.alignleft {
    float: none;
    margin-right: 0;
  }

  figure.alignright {
    float: none;
    margin-left: 0;
  }
}

.wp-block-separator {
  background: 1px solid $separator-grey;
  &:after {
    content: ' ';
    background-color: $theme-green;
    display: inline-block;
    position: relative;
    top: -16px;
    height: 5px;
    width: 100px;
  }
}


html {
  font-family: $base-font-family;
}

.home {
  letter-spacing: 2px;
  font-weight: 500;
}

.btn.btn-primary {
  margin: 10px auto;
  width: 100%;
  border-radius: 20px;
  height: 2.6rem;
  line-height: 1.9rem;
  font-size: 0.8rem;
  border-color: $white;
      
  &::after {
    content: '>';
    margin-left: 12px;
    font-weight: 800;
  }
}

@mixin window-link-icon {
    content: '';
    background: url('/images/window.png') no-repeat center center;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: 12px;
    vertical-align: baseline;
}

@mixin window-link-icon-grey {
    content: '';
    background: url('/images/window-grey.png') no-repeat center center;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: 12px;
    vertical-align: baseline;
}


.btn.btn-primary.window {
  &::after {
    @include window-link-icon;
  }
}

.navbar {
  padding: 4px;

  .btn-group {
    width: 100%;
    .btn {
      padding: 0.6rem .75rem;
      border-radius: 0;
      color: $white;
    }
  }

  .counselling {
    background-color: $theme-green;
    &.btn:hover {
      background-color: darken($theme-green, 7%);
      border-color: darken($theme-green, 7%);
    }
  }
  .consultation {
    background-color: $theme-light-green;
    &.btn:hover {
      background-color: darken($theme-light-green, 7%);
      border-color: darken($theme-light-green, 7%);
    }
  }
}

.navbar-brand {
  max-width: 70%;
  margin: 4px 0;

  img {
    width: 116px;
    vertical-align: baseline;
    margin-right: 6px;
    margin-left: 3px;
  }
  .tagline {
    font-size: 0.6rem;
    line-height: 0.7rem;
    display: inline-block;
    color: $theme-grey;
  }
}

.navbar-toggler-icon {
  color: $theme-green;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  padding: 0 0 5px 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(47, 163, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.home {
  .container-fluid {
    padding: 0;
  }
}

.marquee {
  position: relative;

  .overlay {
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(100,100,100,0.4);
  }

  .marquee-text {
    left: 10%;
    width: 90%;
  }

  img {
    width: 100%;
    height: auto;
  }

  &> div, &> h1 {
    position: absolute;
    top: 40%;
    color: white;
    text-shadow: 0px 0px 16px #aaa;
    width: 100%;
    font-size: 2rem;

    .main {
      font-size: 7vw;
    }
    .tagline {
      width: 80%;
      font-size: 2.6vw;
      font-weight: 400;
      text-shadow: 0px 0px 16px #999;
    }
  }
}

.centre-text > div, .centre-text a {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.lead-bar {
  background-color: $theme-green;
  width: 2px;
  height: 30px;
  position: relative;
  top: -15px;
  margin: 0 auto -15px auto;
}

.contact-us {
  margin-bottom: 40px;

  .title {
    margin-top: 10px;
    font-weight: 600;
  }
  .options {
    margin-top: 7px;
    color: $theme-green;
    font-size: 0.8rem;
  }
}

.dovetail-container {
  position: relative;
  z-index: 1;
}

.dovetail {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent; 
  border-top: 20px solid $white;
  margin: 0 auto -20px auto;
}

.core-function {
  margin: 0;

  section {
    color: $white;
    padding: 50px 0;
  }

  .main {
    margin-bottom: 5px;
    font-size: 2rem;
  }

  .details {
    margin: 0 auto;
    width: 70%;
    max-width: 260px;

    img {
      display: inline-block;
      vertical-align: text-bottom;
      width: 55px;
    }
    ul {
      display: inline-block;
      font-size: 0.8rem;
      line-height: 1.4rem;
      padding-inline-start: 20px;
      list-style: none;

      li {
        font-size: 2.6em;
        line-height: 1rem;
        font-weight: 400;

        &::before {
          content: '•';
          color: $bullet-colour;
          vertical-align: middle;
        }
      }
      span {
        font-size: 0.8rem;
      }
    }
    .btn.btn-primary {
      background-color: $white;
      color: $theme-green;

      &:hover {
        background-color: darken($white, 7%);
        border-color: darken($white, 7%);
      }
    }
  }
}

.counselling {
  background-color: $theme-green;
}

.consultation {
  background-color: $theme-light-green;
}

.about {
  font-weight: 600;
  background: url('/images/home/about.jpg') center bottom no-repeat;
  background-size: contain;
  padding: 40px 0 40vw 0;

  .main {
    font-size: 2.1rem;
    padding: 0 20px;
  }
  .body {
    padding: 0 20px;
    line-height: 2.5rem;
    margin-bottom: 80px;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;

    strong {
      color: $theme-green;
      font-weight: inherit;
    }
  }
}

.icon.circle-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;

  img {
    width: 40px;
    position: absolute;
    top: 25px;
    left: 30px;
  }
}



.links.container {
  margin-bottom: 20px;
  
  .links-container {
    background-color: $theme-light-grey;
    margin: 20px 20px 0 20px;
    padding: 35px 0;
  }

  .img {
    &.icon-resolution, &.icon-qa {
      width: 49px;
      top: 33px;
      left: 27px;
    }
  }

  .circle-icon {
    background-color: $white;
  }

  .centre-text {
    .link {
      font-size: 1.3rem;
      font-weight: 600;
      margin-top: 20px;
      color: $black;
      display: block;

      &.link-caret::after {
        color: $theme-grey;
      }
    }
  }

  .content {
    color: $theme-grey;
    font-size: 0.8rem;
    line-height: 1.5rem;
    width: 80%;
    margin: 15px auto 0 auto;
    font-weight: 400;
  }
}

.link-caret::after {
  font-size: 0.8rem;
  position: relative;
  top: -3px;
  content: '>';
  margin-left: 12px;
  font-weight: 800;
}

.separator {
  background-color: $theme-green;
  margin: 0px auto;
  display: block;
  height: 4px;
  width: 82px;
  position: relative;
}


.container.latest {
  .page-content.separator-container {
    margin: 30px 0;
  }

  h2 {
    margin-bottom: 40px;
  }
}

.latest {
  .title {
    font-size: 2rem;
    width: 50%;
    margin-top: 70px;
  }

  .separator {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .news {
    margin: 25px 12px 12px 12px;
  }
  .date {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .headline {
    background-color: $theme-light-grey;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 4px 20px;
    margin-left: 12px;
  }
  .content {
    color: $theme-grey;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: normal;
    margin-top: 9px;
    line-height: 1.8rem;
  }
  .btn.btn-primary {
    background-color: $theme-light-grey;
    color: $black;

    &::after {
      color: $theme-grey;
    }

    &:hover {
      background-color: darken($theme-light-grey, 7%);
      border-color: darken($theme-light-grey, 7%);
    }
  }

  .news-nav {
    display: flex;

    .btn.btn-primary {
      &::after {
        color: $white;
      }
      &.back {
        &::after {
          content: ' ';
        }
        &::before {
          content: '<';
          font-weight: bold;
          margin-right: 10px;
          color: $white;
        }
      }
    }  
  }
  .btn-container {
    margin: 0 10px 110px 10px;
    padding-top: 15px;
  }
}

.support {
  background: url('/images/support-bg.jpg')  no-repeat top center; 
  background-size: cover;
  color: $white;

  .title {
    padding-top: 40px;
    font-size: 1.6rem;
    text-align: center;
  }

  .content {
    margin-top: 15px;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
  
  .buttons {
    margin-top: 13px;
    padding-bottom: 50px;
  }
  
}

.green.btn.btn-primary {
  background-color: $theme-green;
  color: $white;
  border-width: 0px;

  &:hover {
    background-color: darken($theme-green, 7%);
    border-color: darken($theme-green, 7%);
  }
}

.banners {
  background-color: $theme-light-grey;
  padding: 20px 0 40px 0;
  
  .banner {
    margin-bottom: 20px;
    width: 100%;
  }
}

.contact-info {
  background-color: $theme-light-grey;
  padding-bottom: 40px;

  .logo {
    img {
      width: 116px;
    }
  }

  .address {
    font-size: 0.8rem;
    line-height: 1.5rem;

    .company-number {
      margin: 20px 0;
      display: block;
    }
  }
}

.bg-wrapper {
  background-color: #f2f5f4;
}

.menu-links {
  background-color: $theme-light-grey;
  padding: 0;

  .navbar-nav .nav-link {
    padding-left: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  &#main-menu .navbar-nav .nav-link {
    color: $black;
  }

  a {
    color: $black;
  }

  ul {
    list-style: none;
    padding-inline-start: unset;
    font-size: 1.1rem;
    margin-bottom: 0;

    a {
      display: inline-block;
      width: 100%;
      padding: 20px;
      margin-bottom: 1px;
      background-color: $white;
    }
  }

  .sub-menu {
    a {
      background-color: $theme-light-grey;
      border: 1px solid #fff;
      border-width: 0 0 1px 0;
      color: $theme-grey;
      font-weight: 300;
      font-size: 1rem;
    }
    .window-icon::after {
      @include window-link-icon-grey;
      margin-left: 12px;
    }
  }

  .col-md {
    padding: 0;
  }
}

.centre-text .copyright {
  width: 100%;
}

.copyright {
  background-color: white;
  padding: 10px 20px;
  font-size: 0.6rem;
  color: $theme-grey;
  font-weight: 300;
}

.contact-cta {
  background: $theme-green;
  padding: 100px 0;

  .title {
    color: $white;
    font-size: 2rem;
    text-align: center;
  }

  .content {
    font-weight: 600;
    margin: 10px auto 30px auto;
  }
  
  .panel {
    background: $white;
    padding: 40px 25px;
    margin-bottom: 15px;
    height: 100%;

    .btn.btn-primary {
      background: $theme-green;

      .icon {
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .hours {
    font-size: 0.7rem;
    font-weight: 600;
    background: $theme-light-grey;
    max-width: 400px;
    padding: 3px;
  }
  .phone-no {
    font-size: 2.1rem;
    line-height: 3rem;
    color: $theme-green;
  }
  .phone-sub {
    color: $theme-green;
    margin-bottom: 30px;

    .content {
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 1.2rem;
      margin: 10px auto;
    }
  }

  ul {
    font-size: 0.7rem;
    color: grey;
    font-weight: 300;
    letter-spacing: 0;
    padding-inline-start: 15px;
  }
  
  .bottom-notes .note-text {
    color: $white;
  }
}


.counselling-top {
  .counselling {
    margin: 0;
  }
  .main {
    color: $white;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .opener {
    background-color: $theme-light-grey;

    .lead {
      margin-top: 100px;
      color: $theme-green;
      font-weight: 500;
      font-size: 1.4rem;
    }
    .lead-text {
      margin-top: 25px;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 1.5rem;
    }
    .btn.btn-primary {
      width: 90%;
      margin: 30px auto 100px auto;
      display: block;
    }
  }

  .solutions {
    .head {
      .lead {
        font-weight: 500;
        font-size: 2.2rem;
        width: 80%;
        display: block;
        margin: 100px auto 30px auto;
        color: $black;
      }
      .lead-bar {
      }
    }

    .lead {
      margin-top: 30px;
      font-size: 1.4rem;
      color: $theme-green;
      font-weight: 500;
    }

    .content {
      margin-top: 10px;
      font-size: 0.9rem;
      color: $theme-grey;
      font-weight: 400;
      line-height: 1.5rem;
    }

    .circle-icon {
      background-color: $theme-green;
      margin-top: 50px;
    }
  }

  .experts {
    margin-bottom: 70px;

    .lead {
      font-weight: 500;
      margin: 50px auto;
      font-size: 1.4rem;
    }
    picture img {
      width: 100%;
    }

    .bottom-link {
      margin-top: 40px;
    } 

    .link {
      font-size: 0.8rem;
      color: $theme-grey;
      &::after {
        vertical-align: text-top;
      }
    }
  }

  .characteristics {
    background: $theme-light-grey;
    padding-bottom: 100px;

    .title {
      margin: 100px auto 30px auto;
      font-size: 2.3rem;
    }
    
    .separator {
      margin-bottom: 40px;
    }

    .img {
      width: 100%;
    }

    .detail {
      background: $white;
      padding: 40px;
    }
    .lead {
      span {
        color: $theme-green;
      }
      font-size: 1.4rem;
      font-weight: 500;
    }
    .content {
      margin-top: 30px;
      font-size: 0.8rem;
      line-height: 1.4rem;
      color: $theme-grey;
    }

    .panel {
      margin-top: 20px;
    }
  }

  .about {
    background: none;

    .title {
      font-size: 2.3rem;
      font-weight: 500;
      margin: 80px auto 30px auto;
    }
  }
}

.sidemenu {
  margin-top: 60px;

  ul {
    list-style: none;
    padding-inline-start: 0;

    li {
      background: $theme-green;
      margin-bottom: 5px;

      a {
        color: $white;
        font-size: 0.8rem;

        .menu-item {
          padding: 10px;

          &::after {
            content: '>';
            font-weight: 800;
            position: absolute;
            right: 28px;
          }
        }
        
      }
    }
  }
}

.page-content.separator-container {
  background: $separator-grey;
  height: 1px;

  .separator {
    top: -2px;
    margin: 0;
  }
}

.activities-top {
  font-weight: 400;
  line-height: 1.7rem;

  p {
    font-size: 0.8rem;
  }

  .content, td, th {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  h1 {
    font-size: 2.1rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.8rem;
  }

  .img {
    width: 100%;
  }

  .intro {
    margin-top: 60px;
    margin-bottom: 60px;
    .content {
      margin-bottom: 70px;
    }
  }
  
  .about-org {
    h1 {
      margin-bottom: 50px;
    }
    .content {
      margin-bottom: 70px;
    }
  }
  
  .activity-content {
    h2 {
      margin-bottom: 15px;
    }
    .lead {
      margin: 15px 0;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .content {
      margin-bottom: 40px;
    }
  }
  
  .awards {
    margin-top: 60px;
    h2 {
      margin-bottom: 20px;
    }

    table {
      font-size: 0.9rem;

      tr {
        border-top: 1px solid $separator-grey;
        th {
          background: $theme-light-grey;
          padding: 15px 10px;
          vertical-align: top;
          min-width: 80px;
        }
        td {
          padding: 15px;
        }
      }
    }
  }

  .history {
    margin-top: 70px;
    
    .row {
      margin-bottom: 50px;
    }
    h2 {
      margin-bottom: 20px;
    }

  }
  .about-consultation {
    h1 {
      margin: 20px 0 50px;
    }
    .separator-container {
      margin: 50px 0;
    }
  }

  .staff {
    h1 {
      margin: 20px 0 50px;
    }
    .img {
      padding: 30px 60px;
      max-width: 300px;
    }
    .role-title, .name {
      font-weight: 600;
    }
    .name {
      margin-bottom: 20px;
    }
  }
}

.note-text {
  color: $warning-text-colour;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 7px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .wp-block-image {
    figure.alignleft {
      float: left;
      margin-right: 20px;
    }

    figure.alignright {
      float: right;
      margin-left: 20px;
    }
  }
  
  .home {
    letter-spacing: 1px;
  }

  .marquee > div .tagline {
    font-size: 1.7vw;
  }

  .lead-bar {
    width: 4px;
    height: 53px;
    top: -21px;
  }

  .contact-us {
    margin: 25px 0 60px;

    .title {
      font-weight: 600;
      font-size: 1.6rem;
    }

    .options {
      font-size: 1rem;
    }
  }

  .navbar {
    height: 80px;
    padding: 0 0 0 10px;

    .navbar-brand {
      flex: 1;

      img {
        margin-right: 0px;
      }
      .tagline {
        font-size: 0.6rem;
      }
    }

    .navbar-nav, .dropdown-menu {
        font-size: 0.7rem;
        border: 0;
    }

    #main-menu {
      flex: 4;
      margin: 0 2vw;
      width: 100%;
      background-color: $white;

      .navbar-nav .nav-link {
        color: $theme-grey;
      }

      .dropdown-item {
        color: $theme-grey;
      }

      .list {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        flex: 1;
        max-width: 500px;
      }

      a {
        padding: 0;
      }

      .dropdown-item {
        padding: 8px;
      }
    }

    .btn-group {
      flex: 1;
      height: 100%;

      .btn {
        width: 50%;
        font-size: 0.7rem;
        text-align: center;
        line-height: 80px;
        padding: 0;
      }
    }
  }

  .about {
    background: url('/images/home/about.jpg') center top no-repeat;
    background-size: cover;
    padding: 50px 0;
    
    .body {
      margin: 0;
    }
  }

  .links {
    margin: 0 auto;

    .row {
      margin: 20px;
    }

    .links-container {
      margin: 0;
    }

    .links-container + .links-container {
      margin-left: 20px;
    }
  }
  
  .latest {
    margin: 0 auto;
    .btn {
      width: 300px;
      display: block;
    }
  }

  .news-item {
    border-top: 1px solid $theme-light-grey;
  }

  .news-content .news {
    margin-top: 0;
  }

  .news {
    display:flex;

    .headline {
      flex-basis: 15%;
      padding: 0 4px;
      height: 1%;
      text-align: center;
    }

    .content {
      flex: 8;
      margin-left: 20px;
      margin-top: -3px;
    }

    .post-title {
      margin-left: 10px;
    }
  }

  .support {
    padding: 80px 0 40px 0;

    .title {
      font-size: 2rem;
    }
    .buttons {
      .btn + .btn {
        margin-left: 20px;
      }
    }
  }

  .banners {
    padding: 40px 0;
  }

  .contact-info {
    .logo {
      margin-top: 0;
    }
  }
  
  .menu-links {
    ul {
      font-size: 0.8rem;

      a {
        background-color: inherit;
        padding: 0;
      }
    }

    .sub-menu {
      margin-bottom: 45px;
      
      a {
        border: 0;
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }

  footer.menu-links {
    li {
      margin-bottom: 8px;
    }
  }
  
  .contact-cta {
    .hours {
      font-size: 0.7rem;
      width: 70%;
      padding: 4px;
    }
    .phone-no {
      margin-top: 10px;
      font-size: 2.7rem;
    }
    .phone-sub {
      margin-top: 10px;
      
      .number {
        display: inline;
      }
      .content {
        display: inline;
      }
    }
    .bottom-notes {
      margin-top: 20px;
    }
  }

  .counselling-top {
    .btn.btn-primary {
      max-width: 300px;
    }
    .opener {
      .lead {
        font-size: 2rem;
      }
    }

    .about {
      .title {
        br {
          display: none;
        }
      }
    }
  }

  .activities-top {
    .marquee-text {
      font-size: 3.1rem;
      font-weight: 500;
    }

    .activity-content {
      .content-row {
        margin-bottom: 40px;
      }
      .lead {
        margin: 0 0 15px 0;
      }
    }
    
    .awards table {
      tr {
        border: 1px solid $separator-grey;
        
        td, th {
          padding: 25px 15px;
        }
      }
    }
    
    .staff {
      .name {
        font-size: 1.4rem;
        font-weight: 600;
      }
      .role-title {
        font-weight: 500;
        font-size: 0.9rem;
      }
      .title-row {
        margin-bottom: 20px;
      }
      .profile-row {
        margin-bottom: 60px;
        
        .img {
          padding: 0 30px;
        }
      }
    }
  }


  .dropdown-toggle::after {
    display: none; // hide the bootstrap dropdown caret
  }
}

//medium size to deal with crowded nav
@media (min-width: 768px) and (max-width: 850px) {
  #main-menu .navbar-nav .nav-link {
    letter-spacing: 0px;
    font-size: 0.6rem;
  }

  .navbar .btn-group .btn {
    letter-spacing: 0px;
  }
}
