$theme-grey: #888;
$base-font-family: -apple-system, 'Hiragino Sans','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
$theme-colour: #2fa342;
$theme-light-colour: #56b947;
$white: #fff;
$bullet-colour: #ddb913;
$theme-light-grey: #f2f5f4;
$black: #000;
